.SchoolsList {
  background: white;
  box-shadow: 0 0 1px 0px rgb(197, 197, 197);
  border-radius: 2px;
}

.SchoolsList_tr {
  border-bottom: 1px solid #eaeaea;
}

.SchoolsList_icon {
  font-size: 18px;
  color: #616161;
}

.SchoolsList_icon:hover {
  color: #353535;
  cursor: pointer;
}
